{% extends 'base.html.twig' %}

{% block body %}

<section class="page-title text-center">
  <div class="container">
    <h1 class=" heading page-title__title">Liste des Commandes {{status}} </h1>
  </div>
</section> <!-- end page title -->


<!-- Purchases -->
<section class="section-wrap pt-50 pb-40">
  <div class="container relative" style="margin-bottom:300px;">
    <div class="row">
      <div class="col-md-4">
       <input id="search-by-code" type="text" name="search" placeholder="Recherche" />
      </div>
    </div>

    <div class="table-wrap">
      <table class="table">
        <thead>
          <tr>
            <th class="purchase-code">Commande</th>
            <th class="customer-lastname">Nom</th>
            <th class="customer-firstname">Prénom</th>
            <th class="customer-country">Pays</th>
            <th class="customer-address">Addresse</th>
            <th class="customer-postalcode">Code Postal</th>
            <th class="purchase-details">Détails commande</th>
            <th class="code-delivery"> Livraison </th>

          </tr>
        </thead>
        <tbody id="purchase_table">
        {% for purchase in purchases %}
         <tr class="purchase" >
           <td class="purchase-code" id="{{ purchase.code }}">
             {{ purchase.code }}

           </td>
           <td class="customer-lastname">
              {{ purchase.customerLastname }}
           </td>
           <td class="customer-firstname">
              {{ purchase.customerFirstname }}
           </td>
           <td class="customer-country">
              {{ purchase.customerCountry}} - {{ purchase.customerCity}}
           </td>
           <td class="customer-address">
             {{ purchase.customerAddress1 }} &nbsp; {{ purchase.customerAddress2 }}
           </td>
           <td class="customer-postalcode">
             {{ purchase.customerPostalCode }}
           </td>
           <td class="purchase-details">
            <button type="button" style="background-color:#008000" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{purchase.code}}details"> Détails </button>
            <!-- Modal -->
              <div class="modal fade" id="{{purchase.code}}details" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Détail de commande </h4>
                    </div>
                    <div class="modal-body">

                      <table>
                      <thead>
                        <th class="product-thumbnail">Produit</th>
                        <th class="product-name">Nom</th>
                        <th class="product-size">Taille</th>
                        <th class="product-quantity">Quantité</th>
                      </thead>
                      <tbody>
                        {% for item in purchase.products %}
                          <tr>
                          <td class="product-thumbnail">
                            <a>
                              <img src="{{item.imageUrl}}" alt="">
                            </a>

                          </td>
                          <td class="product-name">
                            <a>{{item.name}}</a>
                          </td>
                          <td class="product-size">
                            {% if item.size is defined %}{{item.size}} {% endif %}
                          </td>
                          <td class="product-quantity">
                            {{ item.quantity }}
                          </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>


                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                  </div>

                </div>
              </div>
           </td>

          <td class="code-delivery">
          {% if purchase.isDelivered == false %}

              <form action="{{ path('admin_validate_purchase_delivery') }}" method="post">
                 <input type="text" name="delivery-code" value='' class="delivery-code" placeholder="Code livraison" required/>
                 <input type="hidden" value="{{purchase.code}}" name="code" />
                 <button type="button"  class="delivery">
                   Valider
                 </button>
               </form>

           {% else %}

             <span> Livrée le : {{purchase.deliveryDate | date('d/m/Y')}}/ &nbsp;&nbsp; code:{{ purchase.deliveryCode }}</span>
             
           {% endif %}

          </td>

         </tr>
       {% endfor %}
        </tbody>
      </table>
    </div>


  </div> <!-- end container -->
</section> <!-- end Purchases -->


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/popper.min.js') }}"></script>

  <script src="{{ asset('js/bootbox.min.js') }}"></script>
  <script src="{{ asset('js/bootbox.locales.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(document).on('click','.delivery',function(event){
        event.preventDefault();

        let form = $(this).parent();

        if(!isValidForm(form)){
          bootbox.alert('Attention! Entrez un code de livraison!');
        }
        else{
          let message = "Confirmez l'envoie de la commande ";
          let formParent = form.parent();

          bootbox.confirm({
              title: "Validation commande",
              message: message ,
              buttons: {
                  cancel: {
                      label: '<i class="fa fa-times"></i> Annuler'
                  },
                  confirm: {
                      label: '<i class="fa fa-check"></i> Confirmer'
                  }
              },
              callback: function (response){
                  if(response){
                    let url = form.attr('action');
                    let posting = $.post(url,form.serialize());
                    posting.done(function(){
                      form.remove()
                      formParent.text('Livrée');
                    })

                  }
              }
          });

        }


      });

      function isValidForm(form){
        let result = true;
        form.find("input").each(function(){
          if($(this).val()==''){
            console.log($(this).val());
            result=false;
          }
        });
        return result;
      }

      // SEARCH BILLING BY CODE
      $("#search-by-code").on("keyup", function(){
        var value = $(this).val().toLowerCase();
        $("#purchase_table tr ").each(function(){
         $(this).toggle($(this).find('.purchase-code').text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
{% endblock %}
