{% extends 'base.html.twig' %}

{% block body %}

<!-- Content
================================================== -->

<!-- Container -->
<div class="container" style="margin-bottom:300px;margin-top:100px;">
	<h1 align="center"> Gestion Images </h1> <br/><br/>
	<div class="row">
	 <div class="col-sm-4">
		<div class="card bg-light mb-3" style="width: 18rem;">
			<div class="card-header">
				Détail Produit
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Produit: &nbsp <strong>{{ product.name }}</strong></li>
				<li class="list-group-item">	Prix Unitaire: &nbsp <strong>{{ product.priceUnit|number_format(2,',',' ') }} &euro; </strong></li>
				<li class="list-group-item"><a href="{{ path('update_product',{'id':product.id }) }}"> Mettre à jour </a></li>
			</ul>
		 </div>
		</div>
		<div class="col-sm-8">
			<div class="card bg-light mb-3">
			  <div class="card-header">
			    Ajouter une image
			  </div>
			  <div class="card-body">
			    <p class="card-text">
						{{ form_start(form,{'attr': {'id': 'image_form'},'method': 'post', 'action': path('add_product_image',{'id':product.id}) }) }}

						<ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
						</ul>
						{{ form_widget(form.save,{'attr':{'class': 'btn btn-lg btn-color btn-button' }}) }}

						{{ form_rest(form) }}

						{{ form_end(form) }}
					</p>

					<div class="progress" style="display:none;">
							<div class="bar"></div >
							<div class="percent">0%</div >
					</div>
			  </div>
			</div>
			</div>
		</div>
		<div class="card-columns" id="images_content" style="border-radius:5px;padding:10px;margin-top: 20px;border:1px solid #ddd;">
			{% for img in product.images %}
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="{{ asset('images_products/'~img.name) }}" alt="">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<form action="{{ path('change_product_image_star',{'imgId':img.id}) }}">
							{% if img.isStar != true %}
							<input name='star' type="submit" value="Rendre vedette" style="background-color:red;color:white;margin-bottom:0%;"  />
							{% else %}
							<input name='star' type="submit" value="Rendre vedette" style="background-color:green;color:white;margin-bottom:0%;"  disabled/>
							{% endif %}
						</form>
					</li>
					<li class="list-group-item">
						<form action="{{ path('change_product_image_star_back',{'imgId':img.id}) }}">
							{% if img.isStarBack != true %}
							<input name="star_back" type="submit" value="Rendre vedette arrière-plan" style="background-color:red;color:white;margin-bottom:0%;"  />
							{% else %}
							<input name="star_back" type="submit" value="Rendre vedette arrière-plan" style="background-color:green;color:white;margin-bottom:0%;" disabled/>
							{% endif %}
						</form>
					</li>
					<li class="list-group-item">
						<form action="{{ path('delete_product_image',{'imgId':img.id}) }}">
							<input name='delete' type='submit' value='Supprimer image'style='background-color:red;color:white;margin-bottom:0%;' />
						</form>
					</li>
				</ul>
				</div>

			{% endfor %}
		</div>

	</div>


{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="http://malsup.github.com/jquery.form.js"></script>

<script type="text/javascript">
  var $collectionHolder;

	// setup an "add a tag" link
	var $addImgButton = $('<button type="button" class="add_img_link">Ajouter une image</button>');
	var $newLinkLi = $('<li></li>').append($addImgButton);

	$(document).ready(function() {
			$("#form_save").hide();
	    $collectionHolder = $('ul.images');
	    $collectionHolder.append($newLinkLi);

	    $collectionHolder.data('index', $collectionHolder.find(':input').length);

	    $addImgButton.on('click', function(e) {
	        $("#form_save").prop('disabled', false).show();
					$('.progress').show();  //show progress bar
					$(this).hide();
	        addImgForm($collectionHolder, $newLinkLi);
	    });
	});

	function addImgForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;

    newForm = newForm.replace(/__name__/g, index);
    $collectionHolder.data('index', index + 1);
    var $newFormLi = $("<li></li>").append(newForm);
    $newLinkLi.before($newFormLi);
}
</script>

<script type="text/javascript"> //async form for image add
	let bar = $('.bar');
	let percent = $('.percent');
	let status = $('#status');
	$(document).ready(function() {
    let options = {
        success:   showResponse,  // post-submit callback
				clearForm: true,        // clear all form fields after successful submit
				resetForm: true,        // reset the form after successful submit
				dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)
				beforeSend: function() {
		        status.empty();
		        var percentVal = '0%';
		        bar.width(percentVal);
		        percent.html(percentVal);
		    },
		    uploadProgress: function(event, position, total, percentComplete) {
		        var percentVal = percentComplete + '%';
		        bar.width(percentVal);
		        percent.html(percentVal);
		    },
		    error: function(xhr, statusText, err) {
		        status.html(err || statusText);
		    }

    };

    // bind form using 'ajaxForm'
    $('#image_form').ajaxForm(options);
});


// post-submit callback
function showResponse(data)  {
	// responseArray = [id,imgLink]
	let star_route = Routing.generate('change_product_image_star', { imgId: data[0] });
	let star_back_route = Routing.generate('change_product_image_star_back', { imgId: data[0] });
	let delete_image_route = Routing.generate('delete_product_image', { imgId: data[0] });
	let img_link = "/images_products/"+data[1];

	let content = "<div class='card' style='width: 18rem;'>"+
								"<img class='card-img-top' src="+ img_link +" >"+
								"<ul class='list-group list-group-flush'>"+
									"<li class='list-group-item'>"+
										"<form action=\""+star_route+"\" >"+
											"<input name='star' type='submit' value='Rendre vedette' style='background-color:red;color:white;margin-bottom:0%;' />"+
										"</form></li>"+
									"<li class='list-group-item'>"+
										"<form action=\""+star_back_route+"\" >"+
											"<input name='star_back' type='submit' value='Rendre vedette arrière-plan' style='background-color:red;color:white;margin-bottom:0%;'/>	"+
										"</form></li>"+
										"<li class='list-group-item'>"+
										"<form action= \""+delete_image_route+"\">"+
											"<input name='delete' type='submit' value='Supprimer image'style='background-color:red;color:white;margin-bottom:0%;' />"+
										"</form></li></ul></div>";


	$('#images_content').append(content);
	$("#form_save").hide();
	$('.progress').hide();
	$('#form_images_1').closest('li').remove();
	$(".add_img_link").show();
}

</script>


<script type="text/javascript"> //async form for image Star

	$(document).ready(function() {
    $(document).on('click','input[name="star"]',function(event){
			event.preventDefault();
			let form = $(this).closest("form");
			let url = form.attr( "action" );
			let selected = $(this);

			let posting = $.post(url);

		  // new display on success
		  posting.done(function( data ) {
				alert(data);
				$('input[name="star"]').attr('disabled',false).css("background-color","red"); // make sure the previous star button is now activated
		    selected.attr('disabled',true).css("background-color","green"); // disable the new star button
	  	});
		})
});


</script>

<script type="text/javascript"> //async form for image Star Back

	$(document).ready(function() {
    $(document).on('click','input[name="star_back"]',function(event){
			event.preventDefault();
			let form = $(this).closest("form");
			let url = form.attr( "action" );
			let selected = $(this);

			let posting = $.post(url);

		  // new display on success
		  posting.done(function( data ) {
				alert(data);
				$('input[name="star_back"]').attr('disabled',false).css("background-color","red"); // make sure the previous star button is now activated
		    selected.attr('disabled',true).css("background-color","green"); // disable the new star button
	  	});
		})
});


</script>

<script type="text/javascript"> //async form delete image

	$(document).ready(function() {
    $(document).on('click','input[name="delete"]',function(event){
			event.preventDefault();
			let form = $(this).closest("form");
			let url = form.attr( "action" );
			let selected = $(this);

			let posting = $.post(url);

		  // new display on success
		  posting.done(function( data ) {
				alert(data);
				selected.closest('.card').remove();
	  	});
		})
});


</script>





{% endblock %}
